
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Order Confirmation</title>
	<link rel="stylesheet" href="style.css"/>
</head>

<body>
	<h1 class="content, now">Order Confirmation</h1>
	<div class="content, now">
		<strong>Name: </strong><%- name %><br>
		<strong>Email Address: </strong><%- email %><br>
		<strong>Delivery Method: </strong><%- delivery %><br>
		<h3>Order</h3>
		<%- orderTable %>
		<br>
		<em>Thank you for your order :D</em>
		<br><br>
		<a href="/" class="button">Return to home</a>
	</div>
</body>

</html>
