
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Place Order</title>
	<link rel="stylesheet" href="style.css"/>
</head>

<body>
	<h1 class="content, now">Place Your Order</h1>
	<form action="http://localhost:10000/order" method="post">
		<div class="content, now">
			<label>Name: <input type="text" name="name"/></label>
			<br>
			<label>Email Address: <input type="email" name="email"  placeholder="example@notreal.notreal"></label>
			<br><br>

			<strong>Delivery Method</strong>
			<br><br>
			<label><input type="radio" name="delivery" value="pickup">pick up</label>
	    	<label><input type="radio" name="delivery" value="delivery">ship</label>
			<br><br>
			<strong>Select Item(s)</strong>
			<br><br>
			<select name="itemsSelected" multiple>
				<%- items %>
			</select>
			<br><br>
		
			<strong>How did you enjoy your experience today?</strong>
			<label><textarea rows="5" cols="80" name="orderInformation"></textarea></label>
		

		<br>
		<input class="button" type="reset"/>
		<input class="button" type="submit" value="Place order"/>
	</div>
	</form>

</body>

</html>
